@tailwind base;

@tailwind components;

@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  line-height: 125%;
}

button:hover,
a:hover {
  opacity: 0.85;
  transition: 250ms;
}
.home {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(247, 201, 19, 0.22314863445378152) 100%
  );
}
